<%= form_for @restaurant do |f| %>
  <h1><%= t( @restaurant.new_record? ? :new_restaurant : :settings ) %></h1>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <% if @restaurant.new_record? %>
  <p>
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </p>
  <%- end -%>
  <p>
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <p><%= f.submit %></p>
<% end %>
