<%= simple_form_for @restaurant do |f| %>
<h1><%= t( @restaurant.new_record? ? :new_restaurant : :settings ) %></h1>
<dl>
  <%= f.error_messages %>
  <%= f.input :name %>
  <%= f.input :domain if @restaurant.new_record? %>
  <%= f.input :info %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.label :required_info %>
  <%= f.button :submit %>
</dl>
<% end %>
