<h1 id="title"><%= t(:todays_menu) %></h1>
<p id="date"><%= l @date, :format => :close %></p>

<%= flash_paragraphs %>

<div id="menu">
	<% @items.each do |item| %>
		<%= render item %>
	<% end -%>
</div>
	
<%= render "form", :item => @new_item %>
