<address><%= @restaurant.info %></address>

<date><%= l @date, :format => :close %></date>

<%= render "layouts/notice" if admin? %>

<%= flash_paragraphs %>


<div id="menu">
	<% @items.each do |item| %>
		<% if admin? && (item == @form_item) %>
		  <%= render "form", :item => @form_item %>
		<% else %>
		  <%= render item %>
		<% end -%>
	<% end -%>
</div>



<p class='admin'>
    <% if admin? %>
      <%= link_to t(:'admin.button.logout'), logout_path, :method => :delete %>
      <%= link_to t(:'admin.button.settings'), settings_path %>
    <% else %>
      <%= link_to t(:'admin.button.login'), login_path %>
    <% end -%>
</p>
