
<h3><%= t(:todays_menu) %></h3>

<%= render "notice" if admin? %>

<h1 id="title"><%= @restaurant.name %></h1>
<address><%= @restaurant.info %></address>

<date><%= l @date, :format => :close %></date>

<%= flash_paragraphs %>

<div id="menu">
	<% @items.each do |item| %>
		<% if admin? && (item == @form_item) %>
		  <%= render "form", :item => item %>
		<% else %>
		  <%= render item %>
		<% end -%>
	<% end -%>
</div>



<p class='admin'>
    <% if admin? %>
      <%= link_to t(:'admin.button.logout'), logout_path, :method => :delete %>
    <% else %>
      <%= link_to t(:'admin.button.login'), login_path %>
    <% end -%>
</p>
