<h1 id="title"><%= t(:todays_menu) %></h1>
<p id="date"><%= l @date, :format => :close %></p>

<%= flash_paragraphs %>

<div id="menu">
	<% @items.each do |item| %>
		<% if admin? && item == @form_item %>
		  <%= render "form", :item => item %>
		<% else %>
		  <%= render item %>
		<% end -%>
	<% end -%>
</div>

