<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= @restaurant.name %> — <%= t :todays_menu %></title>
	<%= stylesheet_link_tag 'menu' %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>