<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= @restaurant.name %> — <%= t :todays_menu %></title>
	<%= stylesheet_link_tag 'menu' %>
	<%= javascript_include_tag :defaults, 'sizzle' ,'ecsstender-all' %>
	<%= csrf_meta_tag %>
  </head>
  <body>
    <h3><%= t(:todays_menu) %></h3>
    <h1 id="title"><%= @restaurant.name %></h1>
    <%= yield %>
  </body>
</html>